// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.copy {font-size:14px !important;}
  .navbar-default{background-image: none;border: 0px;background-color: rgba(0, 0, 0, .4); padding-bottom: 5px;}
  .landing form input{padding:10px 20px;border-radius: 4px;border: 0px;font-style: 20px;color: #586062;width: 200px;margin: 2px;}
  .landing form button{padding: 13px 30px; border: 0px;margin: 2px;}
  body{ background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: 100%;
 line-height: 2.5rem;
color: #586062;
-webkit-font-smoothing: antialiased;
font-family: "webfont",Helvetica,Arial,sans-serif;}
.bloglanding{padding-top: 10%;text-align: center;}
.navbar-brand{color: white !important;}
.bloglanding{text-align: center;}
.text-logo{    font-size: 24px;font-weight: 500;}
.thumbnail img{width: 100%;height:200px;}
footer{text-align: center;padding:6px;padding-top: 10px !important;}

.blog h1{font-size: 52px;text-align: left;padding-bottom: 10px;}
.blog{padding-bottom: 20px !important;}
.sub {font-size: 16px;}
.left{float: left !important;}
.right{float: right !important; }
.content{color: #1a1a1a;
font-family: Merriweather, Georgia, serif;
font-size: 20px;
line-height: 1.75;}
.content p{padding: 5px;text-align: justify;}
.logo
.menu p{float: right!important;}
.righttext{    text-align: right;}
.center {text-align: center;}
.landing {padding-top:14%;padding-bottom: 12%;
color:white;
background-color: rgba(0, 0, 0, 0.50);

}

.landing h1{font-size: 60px;font-weight: 400;}
.landing p{font-size: 18px;font-weight: 300;}
.padding5{padding:5%;}

.description{font-size: 18px;padding:5%;}

.describe{text-align: center;background-color:white;color:#586062;padding:5%;}
.usp {text-align: center;padding-top: 5%; padding-bottom: 5%;}
.footer{background-color: #222;color: white;}
.cta{padding-top: 4%;}
#navbar a{color: white;text-decoration: none;padding:15px;font-weight: 600;font-size: 15px;}
.menu{padding-top:15px;}
.bar   {    background-color: #f0f0f0;
text-align: center;
color: #469c46;
padding: 5px 0px 10px 0px;
border-top: 1px #dadada solid;
border-bottom: 1px #dadada solid;}
p {font-size: 18px;}
.about {text-align: center;}
.cta{background-color: #51aa51;text-align: center;padding: 4%;}

.usp img{padding: 70px; height: 300px;}
.usp .col-md-12 { padding: 2%;
    background-color: #f9f9f9;
    margin-bottom: 4%;
    border-radius: 5px;}
